.card {
  flex: 1 1 260px;
  max-width: 25rem;
  height: 18rem;
  padding: 1.5rem;
  background-color: var(--dark3);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card small {
  color: var(--text-gray);
  font-size: 0.8rem;
}

.card .content {
  flex: 1;
  overflow-y: auto;
}

.card .content p {
  font-size: 1rem;
  font-weight: 300;
}

.card .control {
  display: flex;
  gap: 0.8rem;
}

.card .control .btn {
  background-color: var(--dark1);
}


.card .content::-webkit-scrollbar {
  width: 10px;
}

.card .content::-webkit-scrollbar-track {
  background: transparent;
}

.card .content::-webkit-scrollbar-thumb {
  background-color: var(--dark2);
  border-radius: 20px;
}


.card.done p,
.card.done small {
  text-decoration: line-through;
}

@media (max-width: 768px) {
  .card {
    flex: 1;
    height: initial;
    max-width: initial;
  }
}