.day {
    min-width: 160px;
    min-height: 400px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: var(--dark3);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.day .flag {
    display: none;
}

.day.today .flag {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--blue-flag);
}

.day .week-title {
    display: inline-block;
    padding: 0.8rem 1rem;
    text-align: center;
    color: var(--text-gray);
    font-weight: 500;
    border-bottom: 2px solid var(--dark2);
}

.day.today .week-title {
    color: var(--light1);
}

.day .items {
    flex: 1;
    padding: 1.5rem 0;
}

.day .items .task {
    padding: 0.5rem 1rem;
    color: var(--light1);
}

.day .items .task .hours {
    font-size: 0.8rem;
    color: var(--text-gray);
}

.day .items .task .title {
    display: block;
    font-size: 1rem;
    line-height: 1.3rem;
}

.day .items .task .control {
    display: flex;
    justify-content: start;
    align-items: center;
}

.day .items .task .control .btn-icon {
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.day .items .task .control .btn-icon img {
    width: 16px;
}

.day .items .task.done .hours,
.day .items .task.done .title {
    text-decoration: line-through;
}

@media (max-width: 480px) {
    .day {
        min-width: 260px;
    }
}