.day {
    flex: 1;
    min-width: 160px;
    display: flex;
    flex-direction: column;
    background: var(--dark3);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.day .day-flag {
    display: none;
}

.day .day-title {
    display: inline-block;
    padding: 1rem;
    text-align: center;
    color: var(--text-gray);
    font-weight: 500;
    border-bottom: 2px solid var(--dark2);
}

.day .day-items {
    flex: 1;
}

.day .day-items .task {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem;
    color: var(--light1);
}

.day .task .task-hours {
    font-size: 0.8rem;
    color: var(--text-gray);
}

.day .task .task-title {
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    max-height: 6rem;
    overflow: auto;
}

.day .task .task-control {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.day .task .btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    background: var(--dark1);
    border-radius: 5px;
}

.day .task .btn-icon img {
    width: 16px;
}

.day .task.done .task-hours,
.day .task.done .task-title {
    text-decoration: line-through;
}

.day.today .day-flag {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--blue-flag);
}

.day.today .day-title {
    color: var(--light1);
}

@media (max-width: 480px) {
    .day {
        min-width: 260px;
    }
}