.input {
    color: var(--light1);
    background-color: var(--dark3);
    border: 1px solid transparent;
    border-radius: 0.5rem;
}

.input {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.8rem 1rem;
}

.input:focus {
    border: 1px solid var(--light1);
    outline: none;
}