.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home .tasks {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: stretch;
  align-content: stretch;
  gap: 2rem;
}

@media (max-width: 768px) {
  .home .tasks {
    flex-direction: column;
  }
}