.tasks {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.tasks .panel {
  flex: 1;
  padding: 2rem;
}

.tasks .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: stretch;
  align-content: start;
  gap: 1rem;
}

@media (max-width: 768px) {
  .tasks .grid {
    flex-direction: column;
  }
}