@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --light1: #eaeaea;
  --light2: #dfdfdf;
  --light3: #cfcfcf;
  --dark1: #1C1D22;
  --dark2: #222327;
  --dark3: #292a2e;
  --blue-flag: #6495ed;
  --text-gray: #6D6E73;
}

body {
  background-color: var(--dark2);
}

h1,
h2,
h3,
p,
label {
  color: var(--light1);
}

body,
div,
header,
main,
section,
article,
footer {
  margin: 0;
  padding: 0;
}

button.btn {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  color: var(--light1);
  background-color: var(--dark3);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  text-wrap: nowrap;
  cursor: pointer;
}

button.btn.sm {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

input.input {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  color: var(--light1);
  background-color: var(--dark3);
  border: 1px solid transparent;
  border-radius: 0.5rem;
}

button.btn:hover,
input.input:focus {
  border: 1px solid var(--light1);
  outline: none;
}

.link {
  display: inline-block;
  color: var(--blue-flag);
}

.center {
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

*:not(html, body)::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*:not(html, body)::-webkit-scrollbar-track {
  background: transparent;
}

*:not(html, body)::-webkit-scrollbar-thumb {
  background: var(--text-gray); 
  border-radius: 10px;
}

*:not(html, body).scroll-custom {
  scrollbar-width: thin;
  scrollbar-color: var(--text-gray);
}
